VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://eihmbmkwjymxmihronqd.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpaG1ibWt3anlteG1paHJvbnFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc1NzgsImV4cCI6MjA5MDQ0MzU3OH0.aP8EEKoxxakaMg5ImRAetmdrOjdc6aDSH_If1GB80vM
