# Dependencies
dist/
node_modules/
client/node_modules/
server/node_modules/

# Build
client/dist/
server/dist/

# Env
.env
client/.env
server/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# CACHE VITE
client/.vite/