body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffd6e0, #cde7ff);
}

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.player {
  width: 30%;
  background: #ffffffcc;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.left {
  border-top: 10px solid #6ec1e4;
}

.right {
  border-top: 10px solid #ff8fab;
}

.question {
  font-size: 22px;
  margin-bottom: 10px;
}

input {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
  justify-content: center;
}

.calculator button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #eee;
}

.calculator button:active {
  transform: scale(0.9);
}

/* CENTRE */
.center {
  width: 30%;
  text-align: center;
}

.battle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.character {
  font-size: 70px;
}

.life {
  font-size: 20px;
  margin-top: 10px;
  background: #ffccd5;
  padding: 5px 10px;
  border-radius: 10px;
}

.vs {
  font-size: 30px;
}