PORT=3000
NODE_ENV=development

SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

PORT=3000
NODE_ENV=development

SUPABASE_URL=https://eihmbmkwjymxmihronqd.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpaG1ibWt3anlteG1paHJvbnFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Njc1NzgsImV4cCI6MjA5MDQ0MzU3OH0.aP8EEKoxxakaMg5ImRAetmdrOjdc6aDSH_If1GB80vM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpaG1ibWt3anlteG1paHJvbnFkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg2NzU3OCwiZXhwIjoyMDkwNDQzNTc4fQ.MWAorWE5rss0Pti-g-g2PUE6nTvVR0fC9uYxdPBndb0
SUPABASE_JWT_SECRET=P/XE/uhJrlYhBLAdIvFqdOvqkZ5jY6fkMy2qG9BbXi5KYcj8mesncXwb5CS1CqjR0W5XCDZZ2FtU5CCDB3HyhQ==
